body {
    background-color: #DFD8CF;
}
@font-face { 
    font-family: Athelas; src: url('font/Athelas.ttc'); 
} 
*{
    
    font-family: Athelas;
}
p {
    font-size: 18px;
}
p.cstsec {
    padding: 0px 125px;
}
.secvideo{
    text-align: center;
    height: 100vh;
    background-image: url(backimg/slider.png);
    background-color: antiquewhite;
    padding: 1px 171px;
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    color: #EAE1CB;
}
.secvideo h3 {
    font-size: 70px;
}

.secvideo.b {
    background-image: url(backimg/sectionb.png);
    background-position: bottom;
}
.secvideo.b::after {
    background-image: url(backimg/sectionb.png);
    background-position: bottom;
}



.secvideo.c {
    background-image: url(backimg/sectionc.png);
    background-position: bottom;
}
.section{
    color: #231F20;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #DFD8CF;
}
.section.k {
    
    padding: 80px 220px;
}
.section.back {
    background-color: #231F20;
    color: #DFD8CF;
    padding: 50px 220px;
}
.btnsec.d{
    background-image: url(backimg/btnsec.png);
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
}
.section.back h3 {
    font-size: 41px;
    
}
.section h3{
    font-size: 36px;
    font-weight: 600;
}
.sectionh4{
    font-size: 28px;
    font-weight: 600;
}
a.btn {
    width: initial;
    background-color: #BD5828;
    border: none;
    color: antiquewhite;
    padding: 9px 38px;
    font-size: 29px;
}

.col-sm-6.pd {
    padding-top: 40px;
}
.secondh3{
    padding-top: 18px;
}

ul.list-group {
    list-style-type: none;
    
        font-size: 18px;
    
}
li.list {
    padding: 3px;
}
hr.line {
  
        width: 60%;
        color: red;
        height: 2px;
        opacity: unset;
        background-color: #231F20;
}



footer{
   
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #BD5828;
   
}
.footerlogo {
    width: 208px;
    padding-bottom: 20px;
}
footer p {
    color: antiquewhite;
}
.col-sm-4.pleft {
    padding-left: 10rem;
}
footer a {
    color: antiquewhite;
    font-size: 19px;
    text-decoration: none;
}
.col-sm-4.pleft h4 {
    padding-top: 32px;
}
footer hr.line {
    width: 88%;
    color: red;
    height: 2px;
    opacity: unset;
    background-color: antiquewhite;
}
i.fa {
    padding-right: 10px;
}
a:hover {
    color: #231f20;
}

.section.signup {
    height: 100vh;
    text-align: left;
    padding: 35px 87px;
    
}
.col-sm-6.center {
    background-image: url(backimg/signupbc.png);
   
   text-align: center;
    height: 500px;
    background-size: cover;
    color: antiquewhite;
}
.col-sm-6.form{
    
    
    height: 500px;
    background-color: #231F20;
}
label.fotmlab {
    color: antiquewhite;
    padding-top: 19px;
}
form {
    padding: 76px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.form-control {
    display: block;
    width: 100%;
    padding: unset;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #231f20;
    background-clip: padding-box;
    border-bottom: 1px solid #fae1af;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: unset;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
span.already {
    color: #6D6E71;
    padding-left: 45px;
}
button.btn.form {
    color: #AF4125;
    border: solid #AF4125;
    border-radius: 40px;
    padding: 8px 28px;
}
span.flow {
    color:antiquewhite;
    padding-left: 71px;
}
.sectionwel {
    font-size: 40px;
    padding-top: 162px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }

#exampleInputEmail1, #exampleInputPassword1 {
    background-color: #231f20;
    color: #AF4125;
    /* color: antiquewhite; */
    /* border: none; */
}
input::placeholder {
    color: #AF4125!important;
  }
  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: antiquewhite;
    outline: 0;
    box-shadow: none;
}
i.cl {
    color: antiquewhite;
}
i.cl:hover {
    color: #AF4125!important;
}
.btn.form.a {
    color: #6D6E71;
    border-bottom: solid #AF4125;
    border-radius: unset;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px 13px;
    margin-left: 26px;
    background-color: #231F20;
    font-size: 15px;
}
.btn-check:focus+.btn, .btn:focus {
    outline: none;
    box-shadow: none;
}