body {
    background-color: #DFD8CF;
}
*{
    
    font-family: Athelas, Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-size: 18px;
}
.secvideo{
    text-align: center;
    height: 600px;
    background-image: url(backimg/slider.png);
    background-color: antiquewhite;
    background-size: cover;
    padding: 227px;
    color: #EAE1CB;
}
.secvideo h3 {
    font-size: 41px;
}

.secvideo.b {
    background-image: url(backimg/sectionb.png);
    background-position: bottom;
}

.secvideo.c {
    background-image: url(backimg/sectionc.png);
    background-position: bottom;
}
.section{
    color: #231F20;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #DFD8CF;
}
.section.back {
    background-color: #231F20;
    color: #DFD8CF;
    
}
.btnsec.d{
    background-image: url(backimg/btnsec.png);
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
}
.section.back h3 {
    font-size: 41px;
}
.section h3{
    font-size: 36px;
}
.sectionh4{
    font-size: 28px;
}
a.btn {
    width: initial;
    background-color: #BD5828;
    border: none;
    color: antiquewhite;
    padding: 9px 38px;
    font-size: 29px;
}

.col-sm-6.pd {
    padding-top: 40px;
}
.secondh3{
    padding-top: 18px;
}

ul.list-group {
    list-style-type: none;
    
        font-size: 18px;
    
}
li.list {
    padding: 3px;
}
hr.line {
  
        width: 60%;
        color: red;
        height: 2px;
        opacity: unset;
        background-color: #231F20;
}



footer{
   
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #BD5828;
   
}
.footerlogo {
    width: 208px;
    padding-bottom: 20px;
}
footer p {
    color: antiquewhite;
}
.col-sm-4.pleft {
    padding-left: 10rem;
}
footer a {
    color: antiquewhite;
    font-size: 19px;
    text-decoration: none;
}
.col-sm-4.pleft h4 {
    padding-top: 32px;
}
footer hr.line {
    width: 88%;
    color: red;
    height: 2px;
    opacity: unset;
    background-color: antiquewhite;
}